<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594125734762-vqg1hmfllp9g5clio2p6qbn233lu5csd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594125734762-vqg1hmfllp9g5clio2p6qbn233lu5csd</string>
	<key>API_KEY</key>
	<string>AIzaSyCQddvza_6d8PJzLUOX6jKcIluPIpPUaMo</string>
	<key>GCM_SENDER_ID</key>
	<string>594125734762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incend.sunriseMain</string>
	<key>PROJECT_ID</key>
	<string>project-sunrise-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>project-sunrise-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594125734762:ios:7816086e141e8a6e</string>
	<key>DATABASE_URL</key>
	<string>https://project-sunrise-2018.firebaseio.com</string>
</dict>
</plist>